*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
    text-align: center;
}

:root{
    --bg: rgba(102, 102, 237, 0.3);
    --navbar: rgba(102, 102, 237, 0.7);
    --text: rgba(53, 53, 131, 0.7);
    --border: rgb(46, 39, 108);
}

html{ background-color: var(--bg); }

/* NAVBAR */
header{
    background-color: var(--navbar);
    width: 100%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 22px;
} 

.logo a{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 40px 60px;
    cursor: pointer;
    font-size: 34px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.logo a:hover{
    color: var(--border);
    font-weight: bold;
    transform: scale(1.1);
}

nav{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 25px;
}

nav ul{
    display: flex;
    gap: 40px;
    font-weight: bold;
}

nav ul li{ list-style: none; }

nav li a{
    color: white;
    text-decoration: none;
    transition: 0.35s;
}

nav li a:hover{ color: var(--border); }
.active{ color: var(--border); }

.search-bar input{
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
}

.list{
    display: none;
    position: absolute;
    right: 9px;
    top: 100px; 
    background-color: rgb(255, 255, 255, 0.6);
    border: 2px solid var(--text);
    border-radius: 20px;
    padding: 15px;
    list-style: none;
    font-size: 17px;
}

.list li{ color: var(--border); cursor: pointer; }
.none{ display: none; }
.show{display: list-item;}

/* HOME */
.home .container {
    margin: 0 120px 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    font-size: 25px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.current-times{ font-size: 42px; color: var(--border);}

.analog-clock h4{
    padding: 8px; color: white;
    background-color: var(--navbar);
}

/* copy paste starts */
.current-clock {
    width: 24rem;
    height: 24rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
    z-index: -1;
}

.current-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); 
}

.stick {
    width: 50%; 
    height: 6px;
    background: var(--text);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* copy paste ends */

/* CLOCK BOXES */
.box{
    padding: 80px;  
    height: 90vh;
    margin: 100px 0 130px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.box-item{
    border: 3px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    color: var(--border);
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.3);
}

#go-back{
    display: none;
    background-color: var(--border);
    border-color: var(--border);
    padding: 12px;
    color: #e7d7ff;
    font-size: 24px;
}

.box-item:hover{ border: 6px solid; }

/* FOOTER */
footer .container{
    background-color: var(--navbar);
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.content{
    background-image: url(./src/images/footer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer-logo a{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 10px;
    cursor: pointer;
    font-size: 34px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.footer-logo a:hover{
    color: var(--border);
    font-weight: bold;
    transform: scale(1.1);
}

#about-us{ background-color: var(--navbar); padding: 8px; }
.content p a{ text-decoration: none; color: white; }
.copyright{ list-style: none; font-size: 16px; margin: 10px; }