*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
    text-align: center;
}

:root{
    --bg: rgba(102, 102, 237, 0.3);
    --bg2: rgba(102, 102, 237, 0.4);
    --navbar: rgba(102, 102, 237, 0.7);
    --text: rgba(53, 53, 131, 0.7);
    --hover: rgba(102, 39, 178, 0.6);
    --border: rgb(46, 39, 108);
}

html{
    background-color: var(--bg);
    scrollbar-width: thin;
    scrollbar-color: var(--navbar);
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--bg);
}


html::-webkit-scrollbar-thumb{
    background-color: var(--navbar);
}

/* NAVBAR */
header{
    background-color: var(--navbar);
    width: 100%;
    height: auto;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
} 

.logo a{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 28px;
    cursor: pointer;
    font-size: 32px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.logo a:hover{
    transform: scale(0.9);
}

nav{
    display: flex;
    gap: 25px;
    margin: 25px;
}

nav ul{
    display: flex;
    gap: 40px;
    font-weight: bold;
}

nav ul li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
    transition: width 2s;
}

nav li a:before{
    content: "";
    width: 0px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all .3s ease-in-out;
}

nav li a:hover:before{
    width: 100%;
}

nav li a:hover{
    width: 100%;
}

.search-bar input{
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
}

/* HOME PAGE */
.home{
    position: absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    cursor: default;
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.current-time{
    /*
    border: solid 3px var(--border);
    border-width: 20px;*/
    font-family: Orbitron;
    font-size: 130px;
    color: var(--navbar);
    letter-spacing: 9px;
}

.home h1:hover,
.home h2:hover{
    color: var(--navbar);
    transition: all .3s ease-in-out;
}
/*
/* FIXED ELEMENT 
.search-bar-fixed input{
    position: fixed;
    z-index: 50;
    bottom: 25px;
    left: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
} */

/* CLOCKS */
.box{
    padding: 80px;  
    margin-top: 800px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-item{
    border: solid var(--border);
    border-width: 3px;
    padding: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.3);
    cursor: pointer;
}

.box-item:hover{
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
}

.box-item p{
    color: var(--border);
    font-size: 22px;
}

.box-item p:hover{
    font-size: 30px;
    transition: all .2s ease-in-out;
}



/* FOOTER */
/*
.footer{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}*/